/**
 * UI additions to adapt bootstrap for registry UI. Dave Reynolds, 2013
 */
/**
 * Additional tweaks for BA colours. Simon Cox, 2015
 */

/* ============= start of BA colour customization ============ */
/* ------links------ */
a {
        color:#9f592b;
        text-decoration:none
}
a:hover, 
a:focus {
        color:#9f592b;
        text-decoration:underline
}

/* -------status flags------- */
.label-primary {
        background-color:#0093cd
}
.label-success {
        background-color:#0093cd
}
.btn-success {
        color:#fff;
        background-color:#0093cd;
        border-color:#0093cd
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
        color:#fff;
        background-color:#00537f;
        border-color:#11866f
}
/* -------main navbar--------- */
.navbar-default {
        background-color:#00537f;
        border-color:#202d3b
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
        color:#0093cd;
        background-color:transparent
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
        color:#0093cd;
        background-color:transparent
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
        color:#fff;
        background-color:#00537f
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a:focus .caret {
        border-top-color:#00537f;
        border-bottom-color:#00537f
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color:#00537f;
        background-color:transparent
}
.navbar-default .navbar-link:hover {
        color:#0093cd
}
.navbar-inverse {
        background-color:#00537f;
        border-color:#00537f
}

/* -----------paging---------- */
.pagination>li>a,
.pagination>li>span {
        position:relative;
        float:left;
        padding:10px 15px;
        margin-left:-1px;
        line-height:1.428571429;
        text-decoration:none;
        background-color:#0093cd;
        border:1px solid transparent
}
.pagination>li>a:hover,
.pagination>li>span:hover,.pagination>li>a:focus,
.pagination>li>span:focus {
        background-color:#00537f
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
        z-index:2;
        color:#fff;
        cursor:default;
        background-color:#00537f;
        border-color:#00537f
}
.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
        color:#ecf0f1;
        cursor:not-allowed;
        background-color:#0093cd;
        border-color:transparent
}

/* --------table striping-------- */

table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #b3e0ff; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #ccebff; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }

/* ============= end of BA colour customization ============ */

body {
        min-height: 600px;
}

.table {
   margin-bottom: 0em;
}

table tr td table {
   margin-bottom: 0em;
}

.space-above {
   margin-top: 1em;
}

.space-below {
   margin-bottom: 1em;
}

footer {
  font-size: 0.8em;
  padding-top: 12px;
  margin-top: 12px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.nav-text {
    color: white;
}

.result-blob {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    /* margin-right: 5px; */
}

.blob {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blob-inner {
    padding: 5px;
}

.pale-blue {
    background-color:  #d9f0f9;
}

.pale-orange {
    background-color:  #f9dfc2;
}

.formats {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-bottom: 10px;
    padding: 5px;
   font-size: 80%;
   line-spacing: 80%;
}

.formats dl {
    margin-bottom: 0px;
    margin-top: 0px;
}

.formats table tr td {
    vertical-align: middle;
}

.test-blob {
    background-color: grey;
    text-align: center;
 }

 .test-border {
    border: 2px solid lightgrey;
 }

 .tab-content {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding:  5px;
 }

.nav-compact {
    margin-bottom: 0px;
}

#registration-dialog {
    width: 700px;
    top: 5%;
    left: 40%;
}

#registration-body {
   min-height: 500px;
   min-width: 600px;
}

.modal.update {
    width: 800px;
    top: 5%;
    left: 30%;
}

.modal-body.update {
    max-height: 650px;
}

/* Modal pages */
.modal-page-panel {
    z-index: 1050;
    background-color: white;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal-page-head {
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #eee;
}

.modal-page-body {
    padding: 5px 10px 5px 10px;
}

.modal-page-footer {
    padding: 5px 10px 5px 10px;
    background-color: #f5f5f5;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
    box-shadow: inset 0 1px 0 white;
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    min-height: 30px;
}

td.align-right {
    text-align: right;
}

#metadata-content {
    border-top: 1px solid lightgrey;
}

.ui-edit-main {
    min-width: 350px;
}

/* Hierarchical list support */
.hlist-entry {
    min-width: 600px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.hlist-child-box {
    padding-left: 40px;
}